




.title {
  padding-bottom: 10px;;
  display: flex;
  justify-content: center;
  color: blanchedalmond;
}

.calculator-container {
  width: 340px;
  height: 540px;
  padding: 10px;
  border-radius: 10px;
  background-color: #b65959;
}

.display {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: blueviolet;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: antiquewhite;
  font-weight: bold;
  box-sizing: border-box;
}

.btn-container {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}