



/*
.title {
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
}
  
  background-color: hotpink;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
*/
.calculator-container {
  width: 340px;
  height: 540px;
  padding: 10px;
  border-radius: 10px;
  background-color: #b65959;
}

.display {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: blueviolet;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: antiquewhite;
  font-weight: bold;
  box-sizing: border-box;
}

