.title {
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
}

.display {
  display: flex;
  justify-content:center;
  background-color: rgb(194, 240, 240);
}

.calculator-container {
  display: flex;
  justify-content: space-evenly;
  
  background-color: hotpink;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;

}

